@{
    ViewData["Title"] = "Escape de Alcatraz";
}

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('/img/portada.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
        font-family: 'Press Start 2P', cursive;
    }

    .boton-transparente {
        position: absolute;
        top: 80%; 
        transform: translateX(-50%);
        width: 290px; 
        height: 60px; 
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
    }

    @@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
</style>

<form asp-controller="Home" asp-action="Identificacion" method="post">
    <button type="submit" class="boton-transparente"></button>
</form>
